{% extends "polls/base.html" %}
{% block contentmain %}
<h2>{{poll.question}}</h2>
{{ poll.pub_date }}
{% if error_msg %}<p style="color:red;"><b>{{ error_msg }}</b></p>{% endif %}

<form action="{% url 'sstar:vote' poll.id %}" method="post">
{% csrf_token %}
<ul>
    {% for choice in poll.choice_set.all %}
        <li><input type="radio" name="choice" id="choice-{{ choice.id }}" value="{{ choice.id }}">
            <label for="choice-{{ choice.id }}">{{ choice.choice_text }} </label>
        </li>
    {% endfor %}
</ul>
<input type="submit" value="Vote to see results">
</form>

{% endblock %}
